NRFlow_express_DBImages_FaceRec.json
[{"id":"2d852bcc.05fa14","type":"tab","label":"Express DBImage FaceRec","disabled":false,"info":""},{"id":"c1baa987.fb538","type":"http request","z":"2d852bcc.05fa14","name":"HTTP Request - /getImage (to Express)","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://localhost:3000/getImage?imgName={{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":260,"wires":[["4ac4ef71.a1e5c","75b098e1.27bec8","de7083cd.f3151"]]},{"id":"4ac4ef71.a1e5c","type":"debug","z":"2d852bcc.05fa14","name":"HTTP Req Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":340,"wires":[]},{"id":"9db4c120.24d928","type":"http in","z":"2d852bcc.05fa14","name":"[GET] /detectFaceNR (Request from Express)","url":"/detectFaceNR","method":"get","upload":false,"swaggerDoc":"","x":190,"y":140,"wires":[["21394040.5c3ae","2f922dd1.dcffca","7f88ab19.54370c"]]},{"id":"21394040.5c3ae","type":"debug","z":"2d852bcc.05fa14","name":"/detectFaceNR Complete Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"2f922dd1.dcffca","type":"function","z":"2d852bcc.05fa14","name":"setFlowReqRes","func":"//store the http request and response to be able to access them \n//later for building final response message \n//(since Face-Rec overwrites the starting message)\n\nflow.set(\"http_req\", msg.req);\nflow.set(\"http_res\", msg.res);\n\n\n\n//(msg.payload is the name of the image, so return msg to use next)\n//msg.payload[\"name\"] contains the image name value.\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["3e8b36d5.916472"]]},{"id":"3e8b36d5.916472","type":"change","z":"2d852bcc.05fa14","name":"set msg.query","rules":[{"t":"set","p":"query","pt":"msg","to":"payload[\"name\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["c1baa987.fb538","6169da26.75431c","6e0024c2.dc7504"]]},{"id":"6169da26.75431c","type":"debug","z":"2d852bcc.05fa14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"6e0024c2.dc7504","type":"debug","z":"2d852bcc.05fa14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"7f88ab19.54370c","type":"debug","z":"2d852bcc.05fa14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[\"name\"]","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":80,"wires":[]},{"id":"75b098e1.27bec8","type":"base64","z":"2d852bcc.05fa14","name":"","action":"","property":"payload","x":140,"y":340,"wires":[["65c64a22.1b9e1c"]]},{"id":"65c64a22.1b9e1c","type":"image","z":"2d852bcc.05fa14","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":130,"y":400,"wires":[]},{"id":"7eb4c625.8fbea","type":"function","z":"2d852bcc.05fa14","name":"getExpression","func":"\n//create copy of message\nvar fullMsg = msg;\n\n//retrieve all faces detected from message payload\nvar allFacesDetected = fullMsg.payload[\"TBB Faces\"].faces;\n\n//build expressions array\nvar expressionsDetected = {\"expressions\": []};\n\n//fill expressions array for all detected expressions (if any faces are detected)\nif (allFacesDetected.length > 0)\n{\n    for (i = 0; i < allFacesDetected.length; i++)\n    {\n        expressionsDetected.expressions.push(allFacesDetected[i].expressionLabel);\n    }\n}\n\n//msg.payload = expressionsDetected;\n\n//retrieve labelled image from face-rec message payload\nvar labelled_image = fullMsg.payload[\"TBB Faces\"].image;\n\n//convert labelled image to base64 format to send in JSON (and later display correctly in webpage)\nvar img_buffer = new Buffer.from(labelled_image).toString(\"base64\");\nlabelled_image = img_buffer;\n\n//add image and expressions to payload\nvar newPayload = { \"labelled_image\" : labelled_image,\n    \"expressions\": expressionsDetected.expressions\n};\n\n//set message payload\nmsg.payload = newPayload;\n\n//set the message http req and res (so that response object can be returned)\nmsg.req = flow.get(\"http_req\"); //stored earlier from HTTP-in as flow variable\nmsg.res = flow.get(\"http_res\"); //stored earlier from HTTP-in as flow variable\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":240,"wires":[["4b45552d.05e864","2a0db497.8f25a4","161a7b1f.e0b555"]]},{"id":"de7083cd.f3151","type":"face-api-input","z":"2d852bcc.05fa14","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":630,"y":300,"wires":[["b2faefc3.52126","cd8027ac.2b83c","7eb4c625.8fbea"]]},{"id":"4b45552d.05e864","type":"debug","z":"2d852bcc.05fa14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.expressions","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":240,"wires":[]},{"id":"2a0db497.8f25a4","type":"debug","z":"2d852bcc.05fa14","name":"Full Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":280,"wires":[]},{"id":"b2faefc3.52126","type":"debug","z":"2d852bcc.05fa14","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":320,"wires":[]},{"id":"cd8027ac.2b83c","type":"change","z":"2d852bcc.05fa14","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":360,"wires":[["d1663e1e.71c85"]]},{"id":"414f783a.b2938","type":"http response","z":"2d852bcc.05fa14","name":"HTTP Response","statusCode":"200","headers":{},"x":1280,"y":180,"wires":[]},{"id":"d1663e1e.71c85","type":"image","z":"2d852bcc.05fa14","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":840,"y":420,"wires":[]},{"id":"161a7b1f.e0b555","type":"template","z":"2d852bcc.05fa14","name":"HTML Results Page to Return","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Facial Recognition Result</title>\n    </head>\n\n\n    <body style=\"font-family:Arial, Helvetica, sans-serif;\">\n        <h2 style=\"margin-top:2rem;\"> Facial Recognition Result </h2>\n        \n        <p>Expressions(s) detected in the image: <span id=\"emotionRecText\" style=\"color:orange; font-weight:bold;\"> {{payload.expressions}} </span> </p>\n\n        <div id=\"faceRecDiv\">\n            <img src=\"data:image/jpg;base64,{{payload.labelled_image}}\" alt=\"Labelled Face Recognition Image\" width=60% height=auto />\n        </div>\n        \n    </body>\n</html>","output":"str","x":1030,"y":180,"wires":[["414f783a.b2938"]]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""}]